:root {
  --border-mask: 1vw;
  --mask: calc(var(--border-mask) * 2); 
  --display-width: 100vw;
  --display-height: 56.25vw;
  --fontsize: 4vw;
}
html {
  margin-top: 0 !important;
  padding-top: 0 !important;
  background-color: black;
}
body {
  font-family: "Source Serif 4", serif;
  margin: 0;
  padding: 0;
  border: none;
  background-color: black;
  color: grey;
}
code {
  white-space: pre;
  font-size: smaller;
}
span {
  display: inline-block;
  white-space: pre;
  transition: color 2s ease-in-out;
  -o-transition: color 2s ease-in-out;
  -ms-transition: color 2s ease-in-out;
  -moz-transition: color 2s ease-in-out;
  -webkit-transition: color 2s ease-in-out;
}
span.red {
  /* color: #ff4136; */
  color: white;
  /* text-shadow: 0 -0.3ch 0.5ch white,
    0 0.3ch 0.5ch white,
    0 -0.6ch 1ch white,
    0 0.6ch 1ch white; */
}
span.pink {
  /* color:rgb(225,125,120); */
  color: white;
  /* text-shadow: 0 -0.3ch 0.5ch white,
    0 0.3ch 0.5ch white,
    0 -0.6ch 1ch white,
    0 0.6ch 1ch white; */
}
#container {
  position: relative;
  padding-top: 5vw;
  font-size: var(--fontsize);
  width: var(--display-width);
  height: var(--display-height);
  border: none; /* 1px solid black; */
  overflow: hidden;
}
.scroller {
  position: relative;
  margin: none;
  line-height: calc(var(--fontsize) * 1.8);
  height: calc(var(--fontsize) * 1.8);
  width: var(--display-width);
  overflow: hidden;
  white-space: nowrap;
}
.scroll-item {
  position: absolute;
  white-space: pre;
  display: inline-block;
  box-sizing: border-box;
  will-change: transform;
  left: 0;
}
#mask {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--display-width) - var(--mask) + 1px);
  height: calc(var(--display-height) - var(--mask));
  background-color: rgba(255,255,255,0);
  border: var(--border-mask) solid rgba(0, 0, 0, 1);
}
#scroll0 {
  font-size: 25%;
}
#scroll1 {
  font-size: 50%;
}
#scroll2 {
  font-size: 75%;
}
#scroll3 {
}
#scroll4 {
  font-size: 75%;
}
#scroll5 {
  font-size: 50%;
}
#scroll6 {
  font-size: 25%;
}
